/* @theme seatable */

@import 'https://fonts.bunny.net/css?family=Roboto+Mono:400,700&display=swap';

:root {
    background-color: #fff;
    color: #021940;
}

.border {
    background-color:#f3f3f3;
    padding: 20px;
    border-radius: 16px;
}

section {
    width: 1280px;
    height: 720px;
    padding: 90px 100px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    line-height: normal;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1em; }
h6 { font-size: 0.9em; }

header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 0.67em;
    position: absolute;
    top: 60px;
    left: 100px;
    color: transparent;
    background: linear-gradient(90deg, #EE3234 0%, #FF8000 40%); /* Define your gradient */
    background-clip: text;
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
}

.header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 0.67em;
    color: transparent;
    background: linear-gradient(90deg, #EE3234 0%, #FF8000 40%); /* Define your gradient */
    background-clip: text;
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
}

footer {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 0.67em;
    position: absolute;
    right: 100px;
    bottom: 40px;
    color: transparent;
    background: linear-gradient(90deg, #EE3234 0%, #FF8000 40%); /* Define your gradient */
    background-clip: text;
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
}

/* normal pages */
section {
    display: flex;
    flex-direction: column;
}

section.centered {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vw;
}

/* central headline */
section.centered h1 {
    /*font-size: 3rem;*/
}

/* google fonts locally */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/poppins-regular.woff2") format("woff2");
    font-display: swap;
}
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/poppins-bold.woff2") format("woff2");
    font-display: swap;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0.6em;
    line-height: 120%;
}

p {
    font-size: 0.9em;
    line-height: 120%;
    margin: 0.8em 0;
}


/* my grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

ul li {
    margin-bottom: 0.4em;
}

.right {
    float: right;
    border: 1px solid red;
}

cite {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    display: block;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 0px 100px;
}

/* scoped */

section.scoped {
    background-color: #021940;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.scoped h1 {
    padding: 0px 160px;
    color: #fff;
    font-size: 60px;
    text-align: center;
    line-height: 130%;
}

section.scoped header {
    position: relative;
    top: inherit;
    left: inherit;
    color: transparent;
    background: linear-gradient(90deg, #EE3234 30%, #FF8000 70%); /* Define your gradient */
    background-clip: text;
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to show the gradient */
}

section.scoped footer {
    display: none;
}



.fs120 {
    font-size: 1.2em;
}

.fs150 {
    font-size: 1.5em;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: bold;
    letter-spacing: 0.6px;
}

/* first */

section.first::before {
    content: '';
    background-image: url('images/seatable-logo.jpg');
    display: block;
    position: absolute;
    top: 80px;
    left: 100px;
    width: 164px;
    height: 42px;
    
}

section.first {
    padding-right: 0px;
}

section.first header {
    margin-top: 180px;
    position: relative;
    top: inherit;
    left: inherit;
    font-size: 24px;
}

section.first h1 {
    font-size: 60px;
    display: block;
    line-height: 1.2em;
    margin-bottom: 120px;
}

section.first {
    display: block;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: left;
    height: 50vh;
}